<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/osase-website.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/osase-website-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- a day file should be at most 10MB, with max 2 days worth of history -->
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} thread=[%thread] logType=%-5level %logger{50} -
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} thread=[%thread] logType=%-5level %logger{50} -
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
</configuration>